# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data Files (Do not commit heavy competition data)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Environment & Secrets
.env
.env.*

# Streamlit logs
.streamlit/

# OS Specific
.DS_Store
Thumbs.db